@font-face {
  font-family: 'Gotham Rounded Bold';
  src: url('../assets/fonts/GothamRounded-Bold.otf');
}

@font-face {
  font-family: 'Gotham Rounded Light';
  src: url('../assets/fonts/GothamRounded-Light.otf');
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo del riel */
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 4px; /* Borde redondeado del pulgar */
}

/* Estilo del pulgar de la barra de desplazamiento cuando se está arrastrando */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el mouse */
}

/* Estilo del pulgar de la barra de desplazamiento cuando está en la parte inferior */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #333; /* Color del pulgar al hacer clic */
}

/* Estilo del pulgar de la barra de desplazamiento horizontal */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #888; /* Color del pulgar horizontal */
}
